*.DS_Store
sftp-config.json
*.o
*.pyc

# OSX / *nix default autosave extension MATLAB
*.m~

# ignore all files in bin folder except the empty file gitignore
bin/*
!bin/.gitignore

# runtime log files
log_*

# demo output
#demo/inversion/*
