*.DS_Store
sftp-config.json
*.o
*.pyc

# OSX / *nix default autosave extension MATLAB
*.m~

# cython build files
build
mbircone/conebeam.c

# ignore all files in bin folder except the empty file gitignore and ConeBeam
bin/*
!bin/.gitignore
!bin/ConeBeam.sh

# runtime log files
log_*

# demo output
#demo/inversion/*
