*.pyc
__pycache__

# docs
docs/build/

# compiled files
mbircone/conebeam.c
mbircone/*.so
*.o
build/
dist/
mbircone.egg-info/

# mbir log files
*log_progress.txt
*log_time.txt

# sublime text config
sftp-config.json

# macos hidden file
*.DS_Store

# Pycharm idea folder
.idea/
